In [1]:
import pandas as pd


df1 = pd.read_csv("../dataset_prepare/blog_train.csv")
df2 = pd.read_csv("../dataset_prepare/CCAT50_train.csv")
df3 = pd.read_csv("../dataset_prepare/enron_train.csv")
df4 = pd.read_csv("../dataset_prepare/reddit_train.csv")

In [5]:
df1.head()

,author,text,topic,gender,age,sign,date
0,3211137,Joan Girardi has one. Rory Gilmore has ...,indUnk,male,16,Sagittarius,"11,January,2004"
1,1013637,"Aloha, and bongiorno to all of yo...",RealEstate,male,17,Virgo,"11,February,2003"
2,1078410,well I am now a bit interested in t...,indUnk,male,16,Cancer,"30,July,2003"
3,1169141,Long post through a migraine.... ...,Arts,male,33,Capricorn,"05,February,2004"
4,1951423,thought i had better throw another fema...,Arts,female,24,Scorpio,"18,October,2003"

In [2]:
df1.columns, df2.columns, df3.columns, df4.columns

(Index(['author', 'text', 'topic', 'gender', 'age', 'sign', 'date'], dtype='object'),
 Index(['author', 'text', 'file_name'], dtype='object'),
 Index(['author', 'text', 'subject'], dtype='object'),
 Index(['index', 'author', 'text', 'subreddit'], dtype='object'))

In [3]:
df1.shape, df2.shape, df3.shape, df4.shape

((25224, 7), (2500, 3), (3883, 3), (8451, 4))

In [4]:
df1.author.unique().size, df2.author.unique().size, df3.author.unique().size, df4.author.unique().size

(100, 50, 150, 100)

In [4]:
df1_test = pd.read_csv("../dataset_prepare/blog_test.csv")
df2_test = pd.read_csv("../dataset_prepare/CCAT50_test.csv")
df3_test = pd.read_csv("../dataset_prepare/enron_test.csv")
df4_test = pd.read_csv("../dataset_prepare/reddit_test.csv")

In [5]:
df1_test.columns, df2_test.columns, df3_test.columns, df4_test.columns

(Index(['author', 'text', 'topic', 'gender', 'age', 'sign', 'date'], dtype='object'),
 Index(['author', 'text', 'file_name'], dtype='object'),
 Index(['author', 'text', 'subject'], dtype='object'),
 Index(['index', 'author', 'text', 'subreddit'], dtype='object'))