In [8]:
import pandas as pd


df1 = pd.read_csv("../dataset_prepare/blog_train.csv")
df2 = pd.read_csv("../dataset_prepare/CCAT50_train.csv")
df3 = pd.read_csv("../dataset_prepare/enron_train.csv")
df4 = pd.read_csv("../dataset_prepare/reddit_train.csv")

In [9]:
df1.author.unique().size, df2.author.unique().size, df3.author.unique().size, df4.author.unique().size

(100, 50, 150, 100)

In [10]:
df1.author.value_counts().min(), df2.author.value_counts().min(), df3.author.value_counts().min(), df4.author.value_counts().min()

(np.int64(167), np.int64(50), np.int64(11), np.int64(50))

In [11]:
df1.author.value_counts().median(), df2.author.value_counts().median(), df3.author.value_counts().median(), df4.author.value_counts().median()

(np.float64(220.5), np.float64(50.0), np.float64(18.0), np.float64(68.0))

In [5]:
df1.head()

,author,text,topic,gender,age,sign,date
0,3211137,Joan Girardi has one. Rory Gilmore has ...,indUnk,male,16,Sagittarius,"11,January,2004"
1,1013637,"Aloha, and bongiorno to all of yo...",RealEstate,male,17,Virgo,"11,February,2003"
2,1078410,well I am now a bit interested in t...,indUnk,male,16,Cancer,"30,July,2003"
3,1169141,Long post through a migraine.... ...,Arts,male,33,Capricorn,"05,February,2004"
4,1951423,thought i had better throw another fema...,Arts,female,24,Scorpio,"18,October,2003"

In [6]:
df1.columns, df2.columns, df3.columns, df4.columns

(Index(['author', 'text', 'topic', 'gender', 'age', 'sign', 'date'], dtype='object'),
 Index(['author', 'text', 'file_name', 'label'], dtype='object'),
 Index(['author', 'text', 'subject', 'label', 'AA-label'], dtype='object'),
 Index(['index', 'author', 'text', 'subreddit', 'label'], dtype='object'))

In [7]:
df1.shape, df2.shape, df3.shape, df4.shape

((25224, 7), (2500, 4), (1000, 5), (8451, 5))

In [5]:
df1.author.unique().size, df2.author.unique().size, df3.author.unique().size, df4.author.unique().size

(100, 50, 150, 100)

In [12]:
from nltk.tokenize import word_tokenize

wcs_df = pd.DataFrame()

wcs_df["wc1"] = df1["text"].apply(lambda x: len(word_tokenize(x))).describe() 
wcs_df["wc2"] = df2["text"].apply(lambda x: len(word_tokenize(x))).describe()
wcs_df["wc3"] = df3["text"].apply(lambda x: len(word_tokenize(x))).describe()
wcs_df["wc4"] = df4["text"].apply(lambda x: len(word_tokenize(x))).describe()
wcs_df.describe(percentiles=[.25, .5, .75, .85, .90, .95]).T

,count,mean,std,min,25%,50%,75%,85%,90%,95%,max
wc1,8.0,3519.612359,8781.395672,101.0,215.500000,276.449435,666.250,1442.550,8615.8,16919.90,25224.0
wc2,8.0,826.760540,821.876828,57.0,401.173680,575.944800,894.500,1562.300,1877.0,2188.50,2500.0
wc3,8.0,842.886916,1307.660564,101.0,188.750000,282.797666,644.375,1430.825,2205.8,3044.40,3883.0
wc4,8.0,1433.503577,2870.393524,101.0,212.186442,299.223346,691.000,1444.200,3583.9,6017.45,8451.0

In [23]:
df1_test = pd.read_csv("../dataset_prepare/blog_test.csv")
df2_test = pd.read_csv("../dataset_prepare/CCAT50_test.csv")
df3_test = pd.read_csv("../dataset_prepare/enron_test.csv")
df4_test = pd.read_csv("../dataset_prepare/reddit_test.csv")

In [14]:
from nltk.tokenize import word_tokenize

wcs_df = pd.DataFrame()

wcs_df["wc1"] = df1_test["text"].apply(lambda x: len(word_tokenize(x))).describe() 
wcs_df["wc2"] = df2_test["text"].apply(lambda x: len(word_tokenize(x))).describe()
wcs_df["wc3"] = df3_test["text"].apply(lambda x: len(word_tokenize(x))).describe()
wcs_df["wc4"] = df4_test["text"].apply(lambda x: len(word_tokenize(x))).describe()
wcs_df.describe(percentiles=[.25, .5, .75, .85, .90, .95]).T

,count,mean,std,min,25%,50%,75%,85%,90%,95%,max
wc1,8.0,3520.644309,8781.385367,101.0,217.500000,278.577237,666.50,1443.50,8616.8,16920.90,25225.0
wc2,8.0,843.870524,830.171815,70.0,405.809849,586.362400,925.75,1641.85,1935.1,2217.55,2500.0
wc3,8.0,844.189891,1307.316741,101.0,188.000000,286.759566,646.75,1430.05,2205.4,3044.70,3884.0
wc4,8.0,1432.071584,2870.839945,101.0,212.912286,297.511478,686.50,1441.10,3581.8,6016.40,8451.0

In [3]:
df1_test.columns, df2_test.columns, df3_test.columns, df4_test.columns

(Index(['author', 'text', 'topic', 'gender', 'age', 'sign', 'date', 'summary'], dtype='object'),
 Index(['author', 'text', 'file_name'], dtype='object'),
 Index(['author', 'text', 'subject'], dtype='object'),
 Index(['index', 'author', 'text', 'subreddit'], dtype='object'))

In [4]:
df1_test.shape, df2_test.shape, df3_test.shape, df4_test.shape

((25225, 8), (2500, 3), (3884, 3), (8451, 4))

In [6]:
df1_test["text"].apply(lambda x: len(x.split(" "))).sum()

np.int64(7713710)

In [3]:
df1_test

,author,text,topic,gender,age,sign,date,summary
0,664485,so in comes the sexalicious alltel guy ...,indUnk,male,25,Taurus,"05,April,2003",The writer describes their monthly visits to t...
1,449628,"urlLink 500,000 U.S. IT Jobs Projecte...",indUnk,male,34,Aries,"21,July,2003","According to a Gartner, Inc. report cited by I..."
2,1651222,"Yo and hello, y'all, Plez here. Hm...",indUnk,female,38,Virgo,"23,February,2003","Plez reflects on a recent nightclub fire, expr..."
3,1784456,I WILL STAND IN THEIR WAY! Ge...,Student,female,16,Aquarius,"09,October,2003",The speaker expresses strong opposition to the...
4,180519,Well! long time no post. Lots of things...,indUnk,female,23,Cancer,"29,May,2001",The writer describes a recent enjoyable trip t...
...,...,...,...,...,...,...,...,...
25220,585884,Hizzallar! What! Man Horkins no questi...,indUnk,male,17,Sagittarius,"02,August,2004",NaN
25221,942828,"On July 2, 1871 Venerable J...",indUnk,female,34,Cancer,"02,July,2004",NaN
25222,1417798,Hey Gals! It's gonna take me ...,indUnk,female,35,Scorpio,"17,August,2003",NaN
25223,1107146,"To tell you the truth, and I ...",Student,female,16,Libra,"21,October,2003",NaN
25224,576311,"mm, yeah, so once of the incisions is i...",indUnk,female,34,Capricorn,"02,August,2004",NaN

In [4]:
df2_test

,author,text,file_name,summary
0,AaronPressman,U.S. Senators on Tuesday sharply criticized a ...,421829newsML.txt,U.S. Senators criticized a new SEC rule requir...
1,AaronPressman,Two members of Congress criticised the Federal...,424074newsML.txt,Representatives Henry Gonzalez and Jesse Jacks...
2,AaronPressman,Commuters stuck in traffic on the Leesburg Pik...,42764newsML.txt,The text discusses the growing problem of Inte...
3,AaronPressman,A broad coalition of corporations went to Capi...,43033newsML.txt,A coalition of major corporations lobbied Cong...
4,AaronPressman,"On the Internet, where new products come and g...",433558newsML.txt,"Congress, traditionally slow to adopt new tech..."
...,...,...,...,...
2495,WilliamKazer,China has scored new successes in its fight ag...,504283newsML.txt,China has made significant progress in reducin...
2496,WilliamKazer,China has scored new successes in its fight ag...,504526newsML.txt,China has made significant progress in control...
2497,WilliamKazer,China is on target with plans to to promote 10...,51502newsML.txt,China is advancing plans to develop 100 large ...
2498,WilliamKazer,China may need to adjust the mix of its treasu...,522090newsML.txt,Analysts suggest that China may need to adjust...
2499,WilliamKazer,A Chinese ideologue known for his strictly ort...,58312newsML.txt,"Deng Liqun, a prominent orthodox Marxist and f..."

In [5]:
df3_test

,author,text,subject,summary
0,Kristin Walsh,Below is the weekly western issues update sent...,Western Issues 7/23/01,The update covers recent developments in Weste...
1,Vince J Kaminski,"Reviewed by Mark Williams, SVP Risk\nManagemen...",Book review,The second edition of Managing Energy Price Ri...
2,Amr Ibrahim,Colleagues:\n\nEES positions as of end of Apri...,EES Position at the customer/utility level - M...,EES position data as of April 2001 is now avai...
3,Michelle Lokay,Transwestern's average deliveries to Californi...,California Capacity Report for week of 1/22-1/26:,"Transwestern delivered an average of 1,110 MMB..."
4,Ginger Dernehl,Below is a list of dates for the monthly (Frid...,Department Conf. Calls for 2001,The department's monthly conference calls for ...
...,...,...,...,...
3879,Jeff Dasovich,DJ PG&E Says Won't Try To Escape Rate\n ...,DJ PG&E Says Won't Try To Escape Rate Freeze F...,PG&E Corp. announced it will not seek to end C...
3880,Rebecca W. Cantrell,\n\nNGI's Daily Gas Price Index \npublished : ...,NGI Article: Transwestern Denies Withheld Cap...,"At a FERC hearing, Transwestern Pipeline denie..."
3881,Jeff Dasovich,\n\n\nCalif DWR Seen Asking PUC To Order 25% R...,Dow Jones--PUC to Raise Rates Another 25% to C...,The California Department of Water Resources (...
3882,Zimin Lu,"Stinson and Vince,\n\nI finalized the presenta...",WTI models,Zimin informs Stinson and Vince that the prese...
3883,Leonardo Pacheco,Please find attached the current copy of the E...,"EnronOnline Public Report for November 24, 2000",The attached EnronOnline Weekly Public Report ...

In [6]:
df4_test

,index,author,text,subreddit,summary
0,254776,CaspianX2,"Obamacare did a lot to increase demand, but di...",politics,The text addresses the misconception that Obam...
1,454635,Death_Star_,"SAE may typically be dicks, racists, sexual as...",news,The author describes their experiences with th...
2,799318,codayus,Wow. I think you need to stop digging. \n > H...,BDSMcommunity,The text critiques another person's claim that...
3,1766834,dinosaur_train,"As someone who had to lose baby weight, I reco...",relationships,The author suggests waiting to date until afte...
4,1372920,FrankManic,It's a fucking annoyance is what it is. It get...,Games,The text criticizes the game's clunky mouse co...
...,...,...,...,...,...
8446,1259372,LarrySDonald,A lot depends on how old you are and how long ...,NoStupidQuestions,NaN
8447,315614,NukeThePope,More enlightened countries have come to realiz...,atheism,NaN
8448,360115,megatom0,I've dealt with this issue before and talked a...,REDDITORSINRECOVERY,NaN
8449,1761341,what_a_cat_astrophe,"Well, I suppose this is sort of a ""wrong numbe...",AskReddit,NaN
8450,831543,cabbagery,I'm in a QB-friendly league (read: 6-point pas...,fantasyfootball,NaN

In [ ]:
df1_test = pd.read_csv("../dataset_prepare/blog_test.csv")
df2_test = pd.read_csv("../dataset_prepare/CCAT50_test.csv")
df3_test = pd.read_csv("../dataset_prepare/enron_test.csv")
df4_test = pd.read_csv("../dataset_prepare/reddit_test.csv")

In [3]:
from nltk.tokenize import word_tokenize

blog_total_words = df1_test["text"].apply(lambda x: len(word_tokenize(x))).sum()
CCAT50_total_words = df2_test["text"].apply(lambda x: len(word_tokenize(x))).sum()
enron_total_words = df3_test["text"].apply(lambda x: len(word_tokenize(x))).sum()
reddit_total_words = df4_test["text"].apply(lambda x: len(word_tokenize(x))).sum()
blog_total_words, CCAT50_total_words, enron_total_words, reddit_total_words

(np.int64(8044751), np.int64(1459312), np.int64(1200358), np.int64(2814377))

In [6]:
import os

os.chdir("../")

In [ ]:
from scripts.utils import get_filepathes_from_dir

fps = get_filepathes_from_dir("LLM_writing/Setting1", 
                              include_sub_dir=True,
                              file_format="prompts.csv")

for fp in fps:
    df = pd.read_csv(fp)
    print(fp, '-->', df.prompt.apply(lambda x: len(word_tokenize(x))).sum())

LLM_writing/Setting1/enron/prompts.csv --> 6963912
LLM_writing/Setting1/reddit/prompts.csv --> 16358270

In [ ]:
from scripts.utils import get_filepathes_from_dir

fps = get_filepathes_from_dir("LLM_writing/Setting4", 
                              include_sub_dir=True,
                              file_format="prompts.csv")

for fp in fps:
    df = pd.read_csv(fp)
    print(fp, '-->', df.prompt.apply(lambda x: len(word_tokenize(x))).sum())

In [24]:
df1_test.columns, df2_test.columns, df3_test.columns, df4_test.columns

(Index(['author', 'text', 'topic', 'gender', 'age', 'sign', 'date', 'summary',
        'training sample indices', 'prompt', 'label'],
       dtype='object'),
 Index(['author', 'text', 'file_name', 'summary', 'training sample indices',
        'prompt', 'label', 'bert-base-uncased-prediction',
        'bert-base-uncased-probabilities'],
       dtype='object'),
 Index(['author', 'text', 'subject', 'summary', 'prompt',
        'training sample indices', 'label', 'bert-base-uncased-prediction',
        'bert-base-uncased-probabilities'],
       dtype='object'),
 Index(['index', 'author', 'text', 'subreddit', 'summary',
        'training sample indices', 'prompt', 'label',
        'bert-base-uncased-prediction', 'bert-base-uncased-probabilities'],
       dtype='object'))