In [1]:
import os

os.chdir("../..")

In [2]:
!ls LLM_writing/

Setting1  Setting2  Setting3  Setting4	Setting5  Setting6

In [ ]:
import pandas as pd

df = pd.read_csv("LLM_writing/Setting5/enron/gemini-2.0-flash.csv")
df

,writing,generated_length,target_length,longformer-base-4096-AV-prediction,longformer-base-4096-AV-probabilities,longformer-base-4096-AA-top_k-probabilities,longformer-base-4096-AA-top_k-predictions,ModernBERT-base-AV-prediction,ModernBERT-base-AV-probabilities,ModernBERT-base-AA-top_k-probabilities,ModernBERT-base-AA-top_k-predictions
0,System unable to assign deal numbers because n...,81,108,0,"[0.9999876022338867, 1.2399334082147107e-05]","[0.026734529063105583, 0.021493956446647644, 0...","[0, 42, 22, 99, 77, 15, 21, 131, 13, 16]",0,"[1.0, 1.7553020370542072e-08]","[0.0723043829202652, 0.0509641058743, 0.043086...","[42, 101, 13, 21, 115, 133, 109, 110, 27, 80]"
1,Could not find Preferred or Revised_Preferred ...,120,133,0,"[0.9998615980148315, 0.0001384354691253975]","[0.03035643883049488, 0.027475111186504364, 0....","[22, 42, 13, 77, 145, 21, 0, 65, 25, 88]",0,"[1.0, 6.5854965924927455e-09]","[0.1701064258813858, 0.077904611825943, 0.0774...","[21, 13, 102, 42, 45, 22, 115, 55, 138, 131]"
2,We need to investigate these discrepancies in ...,286,370,0,"[0.9999935626983643, 6.389952886820538e-06]","[0.04410350322723389, 0.023664945736527443, 0....","[24, 5, 54, 34, 99, 65, 85, 42, 25, 15]",1,"[5.117886583277942e-12, 1.0]","[0.11451143771409988, 0.1030430942773819, 0.10...","[102, 125, 85, 12, 141, 115, 26, 14, 92, 1]"
3,ERROR : Error retrieving HourAhead price data....,109,117,1,"[0.2593194246292114, 0.7406806349754333]","[0.103313148021698, 0.04808424413204193, 0.014...","[13, 65, 21, 145, 55, 77, 24, 103, 15, 28]",0,"[1.0, 3.225940048423581e-08]","[0.3434329330921173, 0.27984440326690674, 0.04...","[42, 13, 115, 85, 84, 53, 121, 14, 88, 7]"
4,Error retrieving HourAhead price data. Process...,101,129,0,"[0.9987499713897705, 0.001249958178959787]","[0.032327622175216675, 0.023726558312773705, 0...","[77, 0, 13, 42, 55, 43, 145, 21, 101, 78]",0,"[1.0, 7.93980792224147e-09]","[0.28922683000564575, 0.11327921599149704, 0.1...","[13, 42, 73, 55, 85, 115, 27, 84, 141, 88]"
...,...,...,...,...,...,...,...,...,...,...,...
595,done. Can you please confirm that all finalize...,103,169,1,"[0.06522312760353088, 0.9347768425941467]","[0.15640097856521606, 0.05316634103655815, 0.0...","[28, 53, 83, 41, 18, 146, 122, 145, 35, 2]",0,"[1.0, 4.436064848789556e-10]","[0.27696552872657776, 0.08149418234825134, 0.0...","[5, 16, 91, 97, 42, 94, 6, 52, 143, 2]"
596,. Two issues have arisen in the interim. First...,213,348,1,"[9.617174328013789e-06, 0.9999903440475464]","[0.4690590500831604, 0.017565567046403885, 0.0...","[41, 32, 71, 117, 28, 66, 108, 124, 65, 36]",1,"[1.940461061167298e-06, 0.9999980926513672]","[0.24538040161132812, 0.13971130549907684, 0.1...","[22, 41, 66, 95, 49, 123, 115, 64, 19, 141]"
597,on cash collateral in Canada. Peter Keohane is...,192,427,1,"[8.000182788236998e-06, 0.9999920129776001]","[0.4655247926712036, 0.019700227305293083, 0.0...","[41, 28, 32, 71, 117, 66, 108, 132, 114, 124]",1,"[2.598244282125961e-05, 0.9999740123748779]","[0.9419431090354919, 0.013910631649196148, 0.0...","[41, 117, 28, 4, 22, 64, 71, 63, 9, 32]"
598,"Rhett Jackson in Tax, it appears that we will ...",88,116,1,"[9.61027035373263e-06, 0.9999903440475464]","[0.4865151047706604, 0.01946442574262619, 0.01...","[41, 32, 28, 71, 117, 108, 66, 65, 53, 124]",1,"[1.61722411462506e-07, 0.9999998807907104]","[0.7750627994537354, 0.046215660870075226, 0.0...","[41, 22, 63, 71, 95, 45, 117, 19, 89, 32]"
599,RAPTOR PUBLIC CONFIRMS\n\nAttached are the pub...,122,163,0,"[0.999927282333374, 7.267184992088005e-05]","[0.4845370054244995, 0.019753554835915565, 0.0...","[41, 32, 71, 117, 28, 108, 66, 124, 65, 114]",0,"[0.9999973773956299, 2.6772977435030043e-06]","[0.7255961298942566, 0.05473564565181732, 0.04...","[41, 71, 63, 115, 22, 64, 108, 112, 80, 123]"

In [8]:
df = pd.read_csv("LLM_writing/Setting6/enron/prompts.csv")
df

,author,text,subject,AA-label,summary,cluster,training sample indices,prompt,num_exemplars
0,Pete Davis,\n\nStart Date: 12/22/01; HourAhead hour: 8; ...,Start Date: 12/22/01; HourAhead hour: 8;,13,"On 12/22/01 for hour 8, no ancillary schedules...",14.0,"1136,2892,2313,3662,1810,383,3211,898,1533,3483",You will be given one or more writing samples ...,10
1,Pete Davis,\n\nStart Date: 12/29/01; HourAhead hour: 13; ...,Start Date: 12/29/01; HourAhead hour: 13;,13,"On 12/29/01 for hour 13, no ancillary schedule...",5.0,"2123,799,2706,2330,3815,3662,382,909,1094,3801",You will be given one or more writing samples ...,10
2,Pete Davis,\n\nStart Date: 10/8/01; HourAhead hour: 2; N...,Start Date: 10/8/01; HourAhead hour: 2; <CODE...,13,"On 10/8/01, hour 2, no ancillary schedules wer...",0.0,"3284,3691,2908,3729,840,2313,3039,383,732,3077",You will be given one or more writing samples ...,10
3,Pete Davis,\n\nStart Date: 10/25/01; HourAhead hour: 12; ...,Start Date: 10/25/01; HourAhead hour: 12; <CO...,13,"On 10/25/01 for HourAhead hour 12, no ancillar...",7.0,"2892,3187,3517,3498,3028,2402,738,995,772,3687",You will be given one or more writing samples ...,10
4,Pete Davis,\n\nStart Date: 10/16/01; HourAhead hour: 12; ...,Start Date: 10/16/01; HourAhead hour: 12; <CO...,13,"On 10/16/01 for hour 12, no ancillary schedule...",7.0,"1212,2551,1938,320,1533,2605,3299,1001,1799,329",You will be given one or more writing samples ...,10
...,...,...,...,...,...,...,...,...,...
1495,Mary Cook,It has come to my attention that a copy of eac...,Canadian Isda Files: PLEASE READ,41,Mary Cook requests confirmation that all final...,2.0,"3283,2594",You will be given one or more writing samples ...,2
1496,Mary Cook,"\nWe are nearing the ""final"" form of the docum...","Master Netting Agreement: Update, Issues, Que...",41,Mary Cook informs colleagues that the document...,1.0,"1355,140",You will be given one or more writing samples ...,2
1497,Mary Cook,"All, attached is a redline of Master Netting A...",Master Netting Agreement,41,Mary Cook shares a redlined Master Netting Agr...,1.0,"712,2594",You will be given one or more writing samples ...,2
1498,Mary Cook,I am currently working on a new ISDA wherein t...,Guarantees,41,Mary Cook from Enron is working on a new ISDA ...,2.0,"3029,629",You will be given one or more writing samples ...,2
1499,Mary Cook,O:\Legal\MCOOK\WORK-GENERAL\raptor transmittal...,Raptor Confirms: Publics,41,Mary Cook informs recipients that public confi...,0.0,"937,712",You will be given one or more writing samples ...,2

In [9]:
df.num_exemplars.value_counts()

num_exemplars
10    300
8     300
6     300
4     300
2     300
Name: count, dtype: int64

In [12]:
for i in range(5):
    sub = df[i*300: (i+1)*300]
    print(sub.num_exemplars.value_counts())
    print()

num_exemplars
10    300
Name: count, dtype: int64

num_exemplars
8    300
Name: count, dtype: int64

num_exemplars
6    300
Name: count, dtype: int64

num_exemplars
4    300
Name: count, dtype: int64

num_exemplars
2    300
Name: count, dtype: int64

### AV results

In [69]:
av_df = pd.read_csv("results/AV_generated_results.csv")
av_df

,Setting,Dataset,LLM_Model,AV_Model,Top_1
0,Setting5: SummaryOnly,enron,gemini-2.0-flash,longformer-base-4096,85.67
1,Setting5: SummaryOnly,enron,gemini-2.0-flash,ModernBERT-base,84.00
2,Setting5: SummaryOnly,enron,llama-4-maverick-17b-128e-instruct,longformer-base-4096,83.33
3,Setting5: SummaryOnly,enron,llama-4-maverick-17b-128e-instruct,ModernBERT-base,83.67
4,Setting5: SummaryOnly,enron,gpt-4o-2024-08-06,longformer-base-4096,81.67
...,...,...,...,...,...
331,Setting1,CCAT50,gemini-2.0-flash,ModernBERT-base,98.76
332,Setting1,CCAT50,llama-4-maverick-17b-128e-instruct,longformer-base-4096,93.72
333,Setting1,CCAT50,llama-4-maverick-17b-128e-instruct,ModernBERT-base,95.64
334,Setting1,CCAT50,gpt-4o-2024-08-06,longformer-base-4096,93.44
335,Setting1,CCAT50,gpt-4o-2024-08-06,ModernBERT-base,97.12

In [72]:
av_df.Setting.value_counts()

Setting
Setting1                       48
Setting4                       32
Setting2                       24
Setting3                       24
Setting5: Exemplars+Summary    12
Setting6: len=10               12
Setting5: SummaryOnly          12
Setting6: len=8                 6
Name: count, dtype: int64

In [29]:
# pvt = av_df.pivot_table(
#     index=["Dataset", "Setting"],
#     columns=["LLM_Model"],
#     values="Top_1",
#     aggfunc="mean",
# ).reset_index().fillna("-")
# pvt

## AA model

In [76]:
pd.set_option("display.max_rows", 20)

av_df = pd.read_csv("results/AA_generated_results.csv")
av_df

,Setting,Dataset,LLM_Model,AA_Model,Top_1,Top_3,Top_5,Top_10
0,Setting5: SummaryOnly,reddit,gemini-2.0-flash,longformer-base-4096,12.00,20.33,27.00,35.33
1,Setting5: SummaryOnly,reddit,gemini-2.0-flash,ModernBERT-base,16.00,27.67,37.00,47.67
2,Setting5: SummaryOnly,reddit,llama-4-maverick-17b-128e-instruct,longformer-base-4096,11.33,19.67,25.33,33.33
3,Setting5: SummaryOnly,reddit,llama-4-maverick-17b-128e-instruct,ModernBERT-base,11.00,23.67,31.33,42.33
4,Setting5: SummaryOnly,reddit,gpt-4o-2024-08-06,longformer-base-4096,9.33,14.67,19.67,30.00
...,...,...,...,...,...,...,...,...
205,Setting1,CCAT50,gemini-2.0-flash,ModernBERT-base,54.86,79.87,88.00,94.52
206,Setting1,CCAT50,llama-4-maverick-17b-128e-instruct,longformer-base-4096,62.96,88.68,94.68,97.56
207,Setting1,CCAT50,llama-4-maverick-17b-128e-instruct,ModernBERT-base,43.40,70.12,80.36,89.68
208,Setting1,CCAT50,gpt-4o-2024-08-06,longformer-base-4096,62.96,88.64,94.44,97.60
209,Setting1,CCAT50,gpt-4o-2024-08-06,ModernBERT-base,43.60,69.32,78.84,88.60

In [77]:
av_df[av_df.Setting.str.contains("_sub")]

,Setting,Dataset,LLM_Model,AA_Model,Top_1,Top_3,Top_5,Top_10
90,Setting1_sub,enron,gemini-2.0-flash,longformer-base-4096,64.67,75.33,78.33,84.00
91,Setting1_sub,enron,gemini-2.0-flash,ModernBERT-base,47.33,59.00,63.33,70.33
92,Setting1_sub,enron,llama-4-maverick-17b-128e-instruct,longformer-base-4096,64.00,73.33,78.00,82.33
93,Setting1_sub,enron,llama-4-maverick-17b-128e-instruct,ModernBERT-base,47.67,55.33,60.33,69.00
94,Setting1_sub,enron,gpt-4o-2024-08-06,longformer-base-4096,61.33,72.33,77.67,80.33
...,...,...,...,...,...,...,...,...
157,Setting4_sub,blog,gpt-4o-2024-08-06,ModernBERT-base,10.80,18.20,23.00,38.00
158,Setting4_sub,CCAT50,gemini-2.0-flash,longformer-base-4096,61.67,88.33,95.67,98.67
159,Setting4_sub,CCAT50,gemini-2.0-flash,ModernBERT-base,43.00,69.33,80.67,89.33
160,Setting4_sub,CCAT50,gpt-4o-2024-08-06,longformer-base-4096,58.67,85.33,94.00,98.00
161,Setting4_sub,CCAT50,gpt-4o-2024-08-06,ModernBERT-base,36.67,61.33,75.33,87.33

In [32]:
# pd.set_option("display.max_rows", None)
# av_df

### Get Setting 1 subsets

In [59]:
def align_df1_to_df2(df1, df2, col1, col2, col3):
    """
    Aligns df1 to df2 based on matching values in columns `col1,` `col2` and `col3`,
    handling duplicates in both dataframes.

    Returns a new DataFrame with the same number of rows and order as df2,
    by selecting matching rows from df1.
    """
    df1_temp = df1.copy()
    df1_temp['_used'] = False
    matched_rows = []
    indices = []

    for _, row in df2.iterrows():
        match = df1_temp[
            (df1_temp[col1] == row[col1]) &
            (df1_temp[col2] == row[col2]) &
            (df1_temp[col3] == row[col3]) &
            (~df1_temp['_used'])
        ]

        if match.empty:
            return None

        first_match_idx = match.index[0]
        matched_rows.append(df1_temp.loc[first_match_idx])
        df1_temp.at[first_match_idx, '_used'] = True
        indices.append(first_match_idx)

    result = pd.DataFrame(matched_rows).drop(columns=['_used']).reset_index(drop=True)
    return indices

In [73]:
import os

datasets = ["blog", "enron", "reddit", "CCAT50"]
models = ["gemini-2.0-flash", "gpt-4o-2024-08-06", "llama-4-maverick-17b-128e-instruct"]

for dataset in datasets:
    follow_eval_fp = f"dataset_followup/{dataset}_test.csv"
    seting1_prompt_fp = f"LLM_writing/Setting1/{dataset}/prompts.csv"
    setting4_prompt_fp = f"LLM_writing/Setting4/{dataset}/prompts.csv"

    follow_eval_df = pd.read_csv(follow_eval_fp)
    seting1_prompt_df = pd.read_csv(seting1_prompt_fp)
    setting4_prompt_df = pd.read_csv(setting4_prompt_fp)

    indices = align_df1_to_df2(seting1_prompt_df, follow_eval_df, 
                               "text", "author", "summary")
    assert follow_eval_df[["text", "author", "summary"]].equals(
        seting1_prompt_df.loc[indices][["text", "author", "summary"]].reset_index(drop=True)
    ), f"Mismatch in {dataset} dataset between follow_eval_df and seting1_prompt_df"
    assert follow_eval_df[["text", "author", "summary"]].equals(
        setting4_prompt_df.loc[indices][["text", "author", "summary"]].reset_index(drop=True)
    ), f"Mismatch in {dataset} dataset between follow_eval_df and setting4_prompt_df"

    os.makedirs(f"LLM_writing/Setting1_sub/{dataset}/", exist_ok=True)
    os.makedirs(f"LLM_writing/Setting4_sub/{dataset}/", exist_ok=True)
    seting1_prompt_df_sub = seting1_prompt_df.loc[indices].reset_index(drop=True)
    seting1_prompt_df_sub["OriginalIndex"] = indices
    seting1_prompt_df_sub.to_csv(f"LLM_writing/Setting1_sub/{dataset}/prompts.csv", index=False)
    setting4_prompt_df_sub = setting4_prompt_df.loc[indices].reset_index(drop=True)
    setting4_prompt_df_sub["OriginalIndex"] = indices
    setting4_prompt_df_sub.to_csv(f"LLM_writing/Setting4_sub/{dataset}/prompts.csv", index=False)

    for setting in [1,4]:
        for model in models:
            llm_fp = f"LLM_writing/Setting{setting}/{dataset}/{model}.csv"
            
            if not os.path.exists(llm_fp):
                print(f"File {llm_fp} does not exist.")
                continue                
            
            llm_df = pd.read_csv(llm_fp)
            llm_df_sub = llm_df.loc[indices].reset_index(drop=True)
            llm_df_sub["OriginalIndex"] = indices
            llm_df_sub.to_csv(f"LLM_writing/Setting{setting}_sub/{dataset}/{model}.csv", index=False)
            print(f"Saved {llm_fp} to LLM_writing/Setting{setting}_sub/{dataset}/{model}.csv")

Saved LLM_writing/Setting1/blog/gemini-2.0-flash.csv to LLM_writing/Setting1_sub/blog/gemini-2.0-flash.csv
Saved LLM_writing/Setting1/blog/gpt-4o-2024-08-06.csv to LLM_writing/Setting1_sub/blog/gpt-4o-2024-08-06.csv
Saved LLM_writing/Setting1/blog/llama-4-maverick-17b-128e-instruct.csv to LLM_writing/Setting1_sub/blog/llama-4-maverick-17b-128e-instruct.csv
Saved LLM_writing/Setting4/blog/gemini-2.0-flash.csv to LLM_writing/Setting4_sub/blog/gemini-2.0-flash.csv
Saved LLM_writing/Setting4/blog/gpt-4o-2024-08-06.csv to LLM_writing/Setting4_sub/blog/gpt-4o-2024-08-06.csv
File LLM_writing/Setting4/blog/llama-4-maverick-17b-128e-instruct.csv does not exist.
Saved LLM_writing/Setting1/enron/gemini-2.0-flash.csv to LLM_writing/Setting1_sub/enron/gemini-2.0-flash.csv
Saved LLM_writing/Setting1/enron/gpt-4o-2024-08-06.csv to LLM_writing/Setting1_sub/enron/gpt-4o-2024-08-06.csv
Saved LLM_writing/Setting1/enron/llama-4-maverick-17b-128e-instruct.csv to LLM_writing/Setting1_sub/enron/llama-4-maverick-17b-128e-instruct.csv
Saved LLM_writing/Setting4/enron/gemini-2.0-flash.csv to LLM_writing/Setting4_sub/enron/gemini-2.0-flash.csv
Saved LLM_writing/Setting4/enron/gpt-4o-2024-08-06.csv to LLM_writing/Setting4_sub/enron/gpt-4o-2024-08-06.csv
File LLM_writing/Setting4/enron/llama-4-maverick-17b-128e-instruct.csv does not exist.
Saved LLM_writing/Setting1/reddit/gemini-2.0-flash.csv to LLM_writing/Setting1_sub/reddit/gemini-2.0-flash.csv
Saved LLM_writing/Setting1/reddit/gpt-4o-2024-08-06.csv to LLM_writing/Setting1_sub/reddit/gpt-4o-2024-08-06.csv
Saved LLM_writing/Setting1/reddit/llama-4-maverick-17b-128e-instruct.csv to LLM_writing/Setting1_sub/reddit/llama-4-maverick-17b-128e-instruct.csv
Saved LLM_writing/Setting4/reddit/gemini-2.0-flash.csv to LLM_writing/Setting4_sub/reddit/gemini-2.0-flash.csv
Saved LLM_writing/Setting4/reddit/gpt-4o-2024-08-06.csv to LLM_writing/Setting4_sub/reddit/gpt-4o-2024-08-06.csv
File LLM_writing/Setting4/reddit/llama-4-maverick-17b-128e-instruct.csv does not exist.
Saved LLM_writing/Setting1/CCAT50/gemini-2.0-flash.csv to LLM_writing/Setting1_sub/CCAT50/gemini-2.0-flash.csv
Saved LLM_writing/Setting1/CCAT50/gpt-4o-2024-08-06.csv to LLM_writing/Setting1_sub/CCAT50/gpt-4o-2024-08-06.csv
Saved LLM_writing/Setting1/CCAT50/llama-4-maverick-17b-128e-instruct.csv to LLM_writing/Setting1_sub/CCAT50/llama-4-maverick-17b-128e-instruct.csv
Saved LLM_writing/Setting4/CCAT50/gemini-2.0-flash.csv to LLM_writing/Setting4_sub/CCAT50/gemini-2.0-flash.csv
Saved LLM_writing/Setting4/CCAT50/gpt-4o-2024-08-06.csv to LLM_writing/Setting4_sub/CCAT50/gpt-4o-2024-08-06.csv
File LLM_writing/Setting4/CCAT50/llama-4-maverick-17b-128e-instruct.csv does not exist.

In [75]:
sub2 = pd.read_csv("LLM_writing/Setting1_sub/blog/prompts.csv")
sub2

,author,text,topic,gender,age,sign,date,summary,training sample indices,prompt,OriginalIndex
0,1417798,"Good morning, ladies! How are...",indUnk,female,35,Scorpio,"17,September,2003","The writer greets her friends from Panhandle, ...","1451,2462,12758,14666,406",You will be given one or more writing samples ...,954
1,1417798,Rick Alert! Rick was just on...,indUnk,female,35,Scorpio,"17,October,2003",Rick appeared on Fox to discuss baseball and w...,"4878,21752,12239,10426,19392",You will be given one or more writing samples ...,2600
2,1417798,"Teri, I love how you transiti...",indUnk,female,35,Scorpio,"24,February,2004",The writer humorously comments on Teri's conve...,"24488,18064,18419,406,11244",You will be given one or more writing samples ...,23557
3,1417798,Hey gals! Thanks so much for ...,indUnk,female,35,Scorpio,"20,August,2003",The writer thanks friends for their support af...,"17266,21997,6393,19040,21318",You will be given one or more writing samples ...,23887
4,1417798,"Hey gals, I've been busy with...",indUnk,female,35,Scorpio,"29,June,2003",The writer shares updates about a weekend spen...,"1133,7366,19586,20041,23119",You will be given one or more writing samples ...,17412
...,...,...,...,...,...,...,...,...,...,...,...
495,152151,happy new year everyone! so I'm ba...,Engineering,female,23,Libra,"02,January,2002",The writer is back in Berkeley and ready to st...,"13168,18977,10355,5033,16967",You will be given one or more writing samples ...,14240
496,152151,omg so much more reading to do.. i...,Engineering,female,23,Libra,"09,April,2003",The writer expresses stress over having a lot ...,"11568,16360,22557,11836,25180",You will be given one or more writing samples ...,18692
497,152151,okies quick quick recap. friday wi...,Engineering,female,23,Libra,"20,April,2003","The author recounts their weekend: On Friday, ...","3312,17616,4345,11965,18021",You will be given one or more writing samples ...,15615
498,152151,yay we're going boarding this weeke...,Engineering,female,23,Libra,"10,January,2003",The writer is excited about going boarding thi...,"9581,1152,4345,11557,9202",You will be given one or more writing samples ...,12200
499,152151,i woke up this morning determined t...,Engineering,female,23,Libra,"21,November,2001",The writer is determined to do well on their u...,"21273,18589,12958,1899,19930",You will be given one or more writing samples ...,18511

### GPTZero

In [1]:
import os

os.chdir("../..")

In [4]:
!ls

AA_models			      GPTZero
analyze_model_outputs.py	      length_vs_accuracy.png
AV_models			      LIWC2007_English100131.dic
compute_AA_results.py		      LLM_writing
compute_AV_results.py		      notebooks
create_stylometry_features.py	      __pycache__
create_summaries_for_eval_samples.py  README.md
create_summaries.sh		      requirements.txt
dataset_followup		      results
dataset_prepare			      scripts
deploy_AA_models.py		      Style_features_LLM
deploy_AV_models.py		      tmp_trainer
deploy_AV_test.py		      train_AA_classifiers.sh
essays				      train_and_eval_an_AA_model.py
fileStructure.png		      train_and_eval_an_AV_model.py
generate_llm_writing.py		      train_AV_classifiers.sh
generate_llm_writing.sh

In [5]:
import pandas as pd

df = pd.read_csv("GPTZero/Setting5/blog/gemini-2_gptzero_prediction.csv")

In [7]:
df.gpt_zero_prediction.value_counts()

gpt_zero_prediction
ai       700
human    281
mixed     19
Name: count, dtype: int64